# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
logs/

# Coverage directory (de tests)
coverage/

# Prisma files
prisma/dev.db
prisma/migrations/

# Environment variables
.env

# Jest
# jest.config.js
# jest.setup.ts

# Build output
dist/

# macOS
.DS_Store

# IDE/Editor settings
.idea/
.vscode/
*.swp

# TypeScript
*.tsbuildinfo